.slider {
  position: relative;
  width: 600px;
  margin: auto;
}

.slider__viewport {
  overflow: hidden;
  width: 100%;
}

.slider__track {
  display: flex;
  transition: transform 0.4s ease;
}

.slider__track img {
  width: 330px;
  height: 600px;
  object-fit: cover;
  flex-shrink: 0;
  opacity: 0.3;
  transform: scale(0.8);
  transition: 0.4s;
  margin: 0 10px;
}

.slider__track img.active {
  opacity: 1;
  transform: scale(1);
}

/* кнопки */
button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}
